aiolimiter
anthropic
backoff
beautifulsoup4
filelock
httpx[http2]
llama-cpp-python
lxml
magika
numpy
nvgpu
openai
opencv-python-headless
pdf2image
pillow
PyPDF2
pytesseract
python-decouple
ruff
tenacity
textract 
tiktoken
tqdm
transformers