aiolimiter
anthropic
backoff
filelock
llama-cpp-python
magika
numpy
nvgpu
openai
opencv-python-headless
pdf2image
pillow
PyPDF2
pytesseract
python-decouple
ruff
tenacity
textract 
tiktoken
transformers