aiolimiter
anthropic
backoff
beautifulsoup4
filelock
httpx[http2]
libpff-python
llama-cpp-python
lxml
magika
markdown
numpy
nvgpu
openai
opencv-python-headless
pdf2image
picologging
pillow
PyPDF2
pytesseract
python-decouple
ruff
tenacity
textract 
tiktoken
tqdm
transformers